/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #002D4B;
  background: #E1EEFD url(images/bg_body.png) repeat-x;
}

.main {
  width: 740px;
  margin: 0 auto;
  padding: 0 10px;
  border: 4px solid white;
  background: transparent url(images/bg_banner.jpg) no-repeat;
}

.main h1 {
  color: #FF6600;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 4em;
}

.main h1 strong {
  font-size: 150px;
  color: white;
  line-height: 1em;
  margin-right: -1.25em;
}


.main h2 {
	font: bold 3.5em "Hoefler Text", Garamond, Times, serif;
	border-bottom: 1px solid #002D4B;
	margin-top: 25px;
}

.main h3 {
	color: #F60;
	font-size: 1.9em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 10px;
}

.main p {
	font-size: 1.5em;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 150px;
	margin-right: 50px;
}

.main p:first-line {
  font-weight: bold;
  color: #999;
}


.resources {
	margin: 0 0 25px 50px;
	width: 225px;
	float: right;
	padding: 20px;
	background: #F5EFFB;
}

.resources h3 {
	margin-top: 0;
	color: #002D4B;
}

.resources li {
	font-size: 1.5em;
	margin-bottom: 7px;
	color: #207EBF;
}

.main .byline {
  color: #999999;
	font-size: 1.6em;
	margin: 5px 0 25px 40px;
}

.main .byline strong {
	color: #207EBF;
	text-transform: uppercase;
	margin-left: 11px;
} 
.main .legal{
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid #FFF;
	margin-left: 0px;
	padding-left: 150px;
}
